{{ extend 'layout.html'}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Puzzled by Emmanuel Huff</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="{{=URL('static', 'font-awesome-4.6.3/css/font-awesome.min.css')}}">
<link rel="stylesheet" href="{{=URL('static', 'css/default.css')}}">
</head>
<body>
<!-- start header -->
{{include 'default/header.html'}}
<!-- end header -->
<div id="headerbg"><p class="text1">&#8220;To begin, we must first BUILD&#8221; <br />
	-Anonymous</p>
</div>

<!-- start latest-post -->
<div id="latest-post" class="post">
</div>

<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">

			<h1 class="title"> <u>About Me</u> </h1>
	</div>

    <div id = "abouttext">
	    Hello! My name is Emmanuel Huff. I am a fourth year at the University of California: Santa Cruz. I currently study Computer Science and hope to complete my Bachelor of Science by this school year.
	    While I am from San Diego, California, I spent a semester at the Universiteit Utrecht where I took a software testing course while simultaneously created a text-based rpg game based on the retro
	    game titled "Rogue". In the future I wish to be working on similar projects that really seek to intrigue and keep me busy. In addition, I am hoping to work somewhere in the Bay Area this summer,
	    provided an offer is available to me. I also enjoy playing Soccer, Volleyball, and Basketball.
	    <br><br>
	</div>

	<div id = "aboutpic">
	    <div class="logo"><img src="{{=URL('static', 'images/me.jpg')}}" alt="" width="300" height="300" /></div>
	</div>

	<div id = "abouttext2">
	    I created FitBuild because I too had a struggle with getting into fitness. Who wouldn't? The idea of working out at a gym was very scary at first, especially when I had no one to teach me what routines
	    I really should be doing. With FitBuild I hope that I can help alleviate your stress for such situations.
	</div>

	<div id="sidebar">
		<ul>
		</ul>
		<div style="clear: both;">&nbsp;</div>
	</div>
</div>
<!-- end page -->
<br><br><br><br><br>
</body>
</html>


