{{ extend 'layout.html'}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Puzzled by Emmanuel Huff</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="{{=URL('static', 'font-awesome-4.6.3/css/font-awesome.min.css')}}">
<link rel="stylesheet" href="{{=URL('static', 'css/default.css')}}">
</head>
<body>
<!-- start header -->
{{include 'default/header.html'}}
<!-- end header -->
<div id="headerbg"><p class="text1">&#8220;To begin, we must first BUILD&#8221; <br />
	-Anonymous</p>
</div>

<!-- start latest-post -->
<div id="latest-post" class="post">
</div>

<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">

			<h1 class="title"><u>Contact</u></h1>


			<div class="entry">

				<p> Please feel free to message me with your questions and concerns! <p>

			</div>

            <div class="container">
                <a href="mailto: ehuff@ucsc.edu"> Click to email us! </a>
            </div>
		<!-- end latest-post -->
		<!-- start recent-posts -->

		<!-- end recent-posts -->
	</div>
	<!-- end content -->
	<!-- start sidebar -->
	<div id="sidebar">
		<ul>

		</ul>
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end sidebar -->
</div>





<!-- end page -->
<br><br><br><br><br>
</body>
</html>