
{{ extend 'layout.html'}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Puzzled by Emmanuel Huff</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="{{=URL('static', 'font-awesome-4.6.3/css/font-awesome.min.css')}}">
<link rel="stylesheet" href="{{=URL('static', 'css/default.css')}}">

<!-- start header -->
{{include 'default/header.html'}}
<!-- end header -->
<div id="headerbg"><p class="text1">&#8220;To begin, we must first BUILD&#8221; <br />
	-Anonymous</p>
</div>

<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">

			<h1 class="title"><u>Find a Gym Near You!</u></h1>


			<div class="entry">

				<p> Having trouble finding a gym? Let us help.<p>

                <div class="mapouter"><div class="gmap_canvas"><iframe width="841" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=gyms%20in%20Santa%20Cruz&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de/webdesign-mainz/"></a></div><style>.mapouter{text-align:right;height:500px;width:841px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:841px;}</style></div>
			    <br>
			</div>

		<!-- end latest-post -->
		<!-- start recent-posts -->

		<!-- end recent-posts -->
	</div>
	<!-- end content -->
	<!-- start sidebar -->
	<div id="sidebar">
		<ul>

		</ul>
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end sidebar -->





</html>




