
<!-- start header -->
<div id="header">
	<div id="logo">
		<div class="logo"><img src="{{=URL('static', 'images/FBLOGO.jpg')}}" alt="" width="200" height="40" /></div>
		<p>&nbsp;&nbsp;by&nbsp; <a href="http://www.freecsstemplates.org/">Emmanuel Huff</a></p>
	</div>
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="index.html">home</a></li>
			<li><a href="plan.html">Make A Plan</a></li>
			<li><a href="account.html">My Account</a></li>
			<li><a href="find.html">find a gym</a></li>
			<li><a href="about.html">about</a></li>
			<li><a href="contact.html">contact</a></li>
		</ul>
	</div>
</div>
<!-- end header -->


